.ListingsPage {
    align-items: center;
    height: 80vh;
  }

  .listings-link {
    text-decoration: none;
  }

  .my-card {
    height: 600px;
    max-width: 600px;
    overflow: auto;
  }

  .my-col {
      align-items: center;
      justify-content: center;
    }

  .my-card-img {
    height: 180px;
    object-fit: cover;
  }






