nav {
  background-color: #e98f23;
  font-size: 18px;
  font-weight: 300;
  border-radius: 0 0 10px 10px;
}

nav h2 {
  flex: 0 0 auto;
  font-weight: 200;
  padding-left: 40px;
}

nav div {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  padding-right: 30px;
}

nav .nav-link {
  color: #02292b;
  text-decoration: none;
}

nav .nav-link.active {
  color: #b6e0ea !important;
  text-decoration: none;
}

nav .nav-link:hover {
  color: #1e5663 !important;
  text-decoration: none;
}

.yes-curr-user {
  justify-content: right;
}

nav h2.nav-link:hover {
  color: #1e5663 !important;
}

nav h2.nav-link.active {
  color: #b6e0ea !important;
}

nav .nav-link.logout {
  color: #02292b !important;
}

nav .nav-link.logout:hover {
  color: #1e5663 !important;
}

nav .navbar-toggler {
   margin-right: 30px;
  }
